<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% load static %}
    <title>Admin - Edit User</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'grad/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'grad/css/sb-admin-2.min.css' %}" rel="stylesheet">


</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        {% include "grad/sidebar.html" %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                {% include "grad/navbar.html" %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Edit User</h1>

                    </div>




                    <div class="col-xl-12 col-lg-12 col-md-12">

                        <div class="card o-hidden border-0 shadow-lg my-5">
                            <div class="card-body p-0">
                                <!-- Nested Row within Card Body -->
                                <div class="row">
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-6">
                                        <div class="p-5">
                                            <div class="text-center m-3"><i class="fas fa-fw fa-user-edit fa-5x"></i>
                                            </div>
                                            <div class="text-center">
                                                <h1 class="h4 text-gray-900 mb-4">Edit User Details</h1>
                                            </div>

                                            <form class="user" action="{% url 'updateuser' user.id user.user_role %}"
                                                method="post">

                                                {% csrf_token %}

                                                <div class="form-group row">
                                                    <div class="offset-2 col-md-8 col-sm-6 mb-3 mb-sm-0 text-center">
                                                        {% if user.user_role == 2 %}
                                                        <h2 class="h4 text-gray-900 mb-4">Parenting Specialist</h2>
                                                        {% else %}
                                                        <h2 class="h4 text-gray-900 mb-4">Parent</h2>
                                                        {% endif %}
                                                    </div>
                                                </div>


                                                <div class="form-group row">
                                                    <div class="col-sm-12 mb-6 mb-sm-0">
                                                        <input type="text" class="form-control form-control-user"
                                                            id="exampleFirstName" placeholder="First Name"
                                                            name="user_name" value="{{user.user_name}}">
                                                    </div>

                                                </div>
                                                <div class="form-group">
                                                    <input type="email" class="form-control form-control-user"
                                                        id="exampleInputEmail" placeholder="Email Address"
                                                        name="user_email" value="{{user.user_email}}">
                                                </div>

                                                <div class="form-group">
                                                    <input type="tel" class="form-control form-control-user"
                                                        id="exampleInputTel" placeholder="Phone Number"
                                                        name="user_phone" value="{{user.user_phone}}">
                                                </div>



                                                <div class="form-group">
                                                    {% if user.user_role == 2 %}
                                                    <textarea
                                                        placeholder="Let parents know more about their parenting specialist by adding some personal information about him/her..."
                                                        class="col-sm-12 mb-6 mb-sm-0 form-control" rows="3"
                                                        name="user_brief">{{user.specialist_brief}}</textarea>
                                                    {% endif %}
                                                </div>

                                                <button type="submit" class="btn btn-user btn-block btn-success">Update
                                                    Details</button>

                                            </form>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>




                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; MumBot 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Do you really want to logout?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'grad/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'grad/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'grad/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'grad/js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>

</body>

</html>