<!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-info sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'index' %}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-robot"></i>
                </div>
                <div class="sidebar-brand-text mx-3">MumBot <sup>Admin Panel</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Watson Admin Panel
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-robot"></i>
                    <span>WATSON</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Panel:</h6>
                        <a class="collapse-item" href="https://cloud.ibm.com/services/conversation/crn%3Av1%3Abluemix%3Apublic%3Aconversation%3Aeu-gb%3Aa%2F3b0c65062f7c495cb08657f36ad8989d%3A91e99b0c-d09d-40f9-8b96-4b2d9756ecc6%3A%3A?paneId=manage">View/Add parenting data</a>
                        <a class="collapse-item" href="https://cloud.ibm.com/services/conversation/crn%3Av1%3Abluemix%3Apublic%3Aconversation%3Aeu-gb%3Aa%2F3b0c65062f7c495cb08657f36ad8989d%3A91e99b0c-d09d-40f9-8b96-4b2d9756ecc6%3A%3A?paneId=manage">Unanswered questions</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Management
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Pages</span>
                </a>
                <div id="collapsePages" class="collapse show" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">User:</h6>
                        <a class="collapse-item" href="{% url 'adduser' %}">Add new user</a>
                        <a class="collapse-item" href="{% url 'viewuser' %}">View/Edit user</a>
                        <a class="collapse-item" href="reset-password.php">Reset User Password</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Appointments:</h6>
                        <a class="collapse-item" href="{% url 'appointments' %}">View/Edit Appointment</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Schedules:</h6>
                        <a class="collapse-item" href="schedules.php">View/Edit Schedules</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Forum:</h6>
                        <a class="collapse-item" href="{% url 'question' %}">Add question</a>
                        
                    </div>
                </div>
            </li>


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            

        </ul>
        <!-- End of Sidebar -->